.favorites-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 30px;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
}

.fave-prod-search-div,
.fave-coll-search-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.fave-prod-search,
.fave-coll-search {
    width: 300px;
    height: 30px;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
}

.fave-prod-search-options{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    width: 75%;
    height: 320px;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}

.fave-coll-search-options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    width: 75%;
    height: 295px;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}

.fave-prod-search-options-tile-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border: none;
    background-color: #FFFFFF;
    height: 300px;
    width: 200px;
    padding: 5px;
    cursor: pointer;
}

.fave-coll-search-options-tile-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border: none;
    background-color: #FFFFFF;
    height: 275px;
    width: 225px;
    padding: 5px;
    cursor: pointer;
}

.fave-prod-search-options-tile-btn:hover,
.fave-coll-search-options-tile-btn:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 6px 9px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    opacity: .5;
}

.fave-prod-search-result-img {
    width: 175px;
    height: 175px;
    padding: 5px;
    border: 1px solid #e6e8eb; 
}

.fave-prod-search-star-div {
    width: fit-content;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px; 
    padding-bottom: 10px;
}

.fave-search-coll-star-div {
    width: fit-content;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px; 
    padding-bottom: 10px;  
}

/*********************************/
.fave-prod-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.fave-prod-heading {
    display: flex;
    justify-content: center;
}

.fave-prod-count-text {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.fave-prod-tiles-div {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    width: 75%;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}

.fave-prod-tile-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border: none;
    background-color: #FFFFFF;
    height: 300px;
    width: 200px;
    padding: 5px;
    cursor: pointer;
}

.fave-prod-tile-btn:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 6px 9px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    opacity: .5;
}

.fave-prod-tile-img {
    width: 175px;
    height: 175px;
    padding: 5px;
    border: 1px solid #e6e8eb;
}

.fave-prod-star-div {
    width: fit-content;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px; 
    padding-bottom: 15px;
}

.fave-prod-tile-info-ul {
    list-style: none;
}

.no-fave-prod-div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 320px;
}

.no-fave-prod-text {
    font-weight: 400;
    color: #4d4b4b;
}

/*********************************/
.fave-coll-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.fave-coll-heading {
    display: flex;
    justify-content: center;
}

.fave-coll-count-text {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.fave-coll-tiles-div {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    width: 75%;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}

.fave-coll-tile-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border: none;
    background-color: #FFFFFF;
    height: 275px;
    width: 225px;
    padding: 5px;
    cursor: pointer;
}

.fave-coll-tile-btn:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 6px 9px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    opacity: .5;
}

.fave-coll-img-grid-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    width: 100%;
    height: 100%;
    place-items: center;
}

.fave-coll-tile-img {
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid #e6e8eb;
}

.fave-coll-star-div {
    width: fit-content;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px; 
    padding-bottom: 10px;
}

.fave-coll-title-div {
    width: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.no-fave-coll-div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 295px;
}

.no-fave-coll-text {
    font-weight: 400;
    color: #4d4b4b;
}