.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
}

.products-title {
    margin: 20px 0;
    color: #4D4B4B
}

.products-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px
}

.product-tile-button {
    border-radius: 15px;
    border: none;
}

.product-tile {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 15px;
    background-color: #FFFFFF;
    height: 275px;
    width: 200px;
    padding: 5px 5px;
    cursor: pointer;

}

.product-tile:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 6px 9px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    opacity: .5;
}

.product-tile-img {
    display: flex;
    justify-content: center;
}

.product-tile-info-ul {
    list-style: none;
    padding: 0 20px;
}

.custom-product {
    height: 275px;
    width: 200px;
    background-color: rgb(224, 223, 223);
    padding: 5px 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-product button {
    cursor: pointer;
    height: 250px;
    width: 190px;
    border: none;
    font-size: 20px;
    background-color: rgb(224, 223, 223);
}

.no-products-text {
    width: 200px;
    background-color: #9db882;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    padding: 10px 5px;
    text-align: center;
    position: absolute;
    font-weight: 300;
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
}