.products-container {
    display: grid;
    grid-template-columns: 1fr 0.75fr;
    margin: 15px 15px;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
}

.products-title {
    margin: 20px 0;
    color: #4D4B4B
}

.products-title-span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    padding: 5px;
    border-radius: 35px;
    background-color: #9cb781;
    color: #000000;
    font-size: 18px;
}

.products-wrapper {
    grid-column: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
}

.product-tile-button {
    border-radius: 15px;
    border: none;
}

.product-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 15px;
    background-color: #FFFFFF;
    height: 275px;
    width: 200px;
    padding: 5px 5px;
    cursor: pointer;
}

.product-tile:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 6px 9px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    opacity: .5;
}

.product-tile-img {
    width: 175px;
    height: 175px;
    padding: 10px;
    border-radius: 15px;
}

.product-tile-info-ul {
    list-style: none;
    padding: 0 20px;
}

.custom-product {
    height: 275px;
    width: 200px;
    background-color: rgb(224, 223, 223);
    padding: 5px 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-product button {
    cursor: pointer;
    height: 250px;
    width: 190px;
    border: none;
    font-size: 20px;
    background-color: rgb(224, 223, 223);
}

.products-by-type-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.products-collapsible {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 10px;
    background-color: #4D4B4B;
    color: #FFFFFF;
    font-size: 24px;
    cursor: pointer;
}

.products-collapsible:hover {
    background-color: #000000;
}

.product-collapsible-content {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
    font-size: 18px;
}

.products-by-type-button {
    border: transparent;
    border-radius: 15px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.products-by-type-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 15px;
    background-color: #FFFFFF;
    height: 115px;
    width: 115px;
    padding: 5px 5px;
    cursor: pointer;
}

.products-by-type-tile:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 6px 9px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    opacity: .5;
}

.products-by-type-img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.no-products-text {
    width: 200px;
    background-color: #9db882;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    padding: 10px 5px;
    text-align: center;
    position: absolute;
    font-weight: 300;
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
}