.profile-page-container {
    display: flex;
    flex-direction: column;
}

.profile-page-h1 {
    display: flex;
    justify-content: center;
}

.profile-page-collections-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.profile-page-collections-tile {
    width: 220px;
    height: 220px;
    border: 3px solid #97958F;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.profile-page-collections-tile li {
    list-style: none;
}

.profile-page-collections-tile:hover {
    box-shadow: 0px 0px 7px 2px #97958F;
    cursor: pointer;
}


.collections-tile-name {
    background-color: #F5F5F5;
    margin: 0px;
    text-align: center;
    height: 30px;
    padding: 5px 0px;
    font-size: 16px;

}

.create-collection-button button {
    width: 220px;
    height: 220px
}
