.searchbar-container {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.searchbar input {
    font-size: 1rem;
    width: 335px;
}

.dropdown {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    margin-bottom: 1rem;
}

.dropdown:empty {
    border: none;
}

.dropdown-row {
    cursor: pointer;
    margin: 2px 2px
}

.dropdown-row:hover {
    background-color: rgba(0, 0, 0, .2);
}

.search-comp-product-tiles-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 1rem 1rem;
    max-height: 478px;
    overflow: auto;
}

.search-comp-product-tile {
    cursor: pointer;
}

.search-comp-product-tile-img {
    width: 140px;
    height: 140px;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 10px;
}

.search-comp-close-icon {
    cursor: pointer;
    position: absolute;
    margin: 5px;
}

.search-comp-close-icon:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition-duration: 0.1s;
    background-color: rgba(0, 0, 0, .2);
}
