.searchbar-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.searchbar {
    display: flex;
    flex-direction: column;
    position: relative;
}

.full-prod-list-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(118, 118, 118);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #ffffff;
}

.full-prod-list-ul {
    list-style: none;
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid rgb(118, 118, 118);
}

.full-prod-list-li {
    padding: 5px;
    /* padding-left: 0;
    padding-right: 0; */
    cursor: pointer;
}

.full-prod-list-li:hover {
    background-color: rgba(0, 0, 0, .2);
}

.dropdown {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    margin-bottom: 1rem;
}

.dropdown:empty {
    border: none;
}

.dropdown-row {
    cursor: pointer;
    margin: 2px 2px
}

.dropdown-row:hover {
    background-color: rgba(0, 0, 0, .2);
}

.search-comp-product-tiles-div {
    display: flex;
    gap: 10px;
    padding: 1px 1px;
    max-height: 478px;
    overflow-x: auto;
    overflow-y: hidden;
}

.search-comp-product-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-comp-product-tile-img {
    width: 140px;
    height: 140px;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 10px;
}

.remove-product-button {
    width: 140px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-top: none;
    padding: 5px;
    background-color: #FFFFFF;
    cursor: pointer;
}
