.explore-collections-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    gap: 30px;
}

.collections-star-icon {
    position: absolute;
    left: 210px;
    top: 190px
}

.collection-tile {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 15px;
    background-color: #FFFFFF;
    height: 275px;
    width: 275px;
    padding: 5px 5px;
    cursor: pointer;
}

.collection-tile:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 6px 9px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.collection-info ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.2rem;
}

.collection-tile-buttons ul{
    transform: scale(1.2);
    transition-duration: 0.1s;
    cursor: pointer;
    list-style: none;
    padding-left: 0px;
}

.grid-image-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px auto;
    width: 205px;
    height: 205px
}

.grid-images-tile {
    border:1px solid lightgray
}
