.product-randomizer-container form {
    display: flex;
    flex-direction: column;
    width: 300px
}

.generate-button {
    width: 100px;
    background-color: #D7E3C2;
    border: 1px solid #9DB782;
    border-radius: 30px;
}
