.create-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 850px;
    height: 550px;
}

.create-product-form div {
    padding: 5px 0;
}

.product-form-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin: 20px auto;
    width: 800px;
    height: 320px;
    padding: 5px;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
}

.product-form-left, .product-form-right {
    display: flex;
    flex-direction: column;
}

.product-form-left {
    border-right: 1px solid #E8E8E8;
    padding-right: 10px;
}


.create-product-form input,
.create-product-form select {
    width: 250px;
    height: 25px;
    margin: 0 5px;
}

.create-product-form input:focus,
.create-product-form select:focus {
    width: 250px;
    height: 25px;
    background-color: #f8f5f5;
}

.description-div {
    display: flex;
    flex-direction: column;
}

.create-product-form textarea {
    width: 350px;
    max-width: 350px;
    height: 50px;
    max-height: 75px;
    overflow: auto;
}

.create-product-form textarea:focus {
    width: 350px;
    max-width: 350px;
    height: 50px;
    max-height: 75px;
    overflow: auto;
    background-color: #f8f5f5;
}

.description-char-count {
    color: #4D4B4B;
    font-size: 12px;
    text-align: right;
    width: 350px
}

.create-product-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}


.disabled-submit-button {
    width: 150px;
    height: 50px;
    background-color: #FAA0A0;
    cursor: not-allowed;
    opacity: .5;
    cursor: not-allowed;
}

.enabled-submit-button {
    width: 150px;
    height: 50px;
    background-color: #B4D3B2;
    cursor: pointer;
}

.errors-text {
    color: #cc0000
}
