.create-product-container form {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 10px 20px;
}
.skincare-selection-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
}

.skinconcern-buttons {
   width: fit-content;
   border-radius: 15px;
   border: 1px solid black;
   padding: 3px 5px;
   background-color: pink;
   color: black;
}
