.signup-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
}

.signup-form-heading-div {
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 10px;
}

.signup-form-close-modal-div {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.signup-form-div {
    width: 505px;
    margin: 10px 10px;
    padding: 10px 20px;
    border-radius: 15px;
}

.signup-section {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

#signup-sec-1,
#signup-sec-2,
#signup-sec-3 {
    gap: 180px
}

#signup-sec-4 {
    gap: 70px;
}

.first-name-div,
.last-name-div,
.username-div,
.email-div,
.password-div,
.confirm-password-div,
.profile-image-div,
.skin-type-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-submit-button-div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.enabled-signup-submit-button {
    width: 320px;
    height: 50px;
    border-radius: 20px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
}

.disabled-signup-submit-button {
    width: 320px;
    height: 50px;
    border-radius: 20px;
    background-color: #efefef;
    color: #000000;
    font-size: 18px;
    cursor: pointer;
}