.signup-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
}

.signup-form-heading-div {
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 10px;
}

.signup-form-close-modal-div {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.signup-form-div {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 10px 20px;
    border-radius: 15px;
}

.signup-form-div input,
.signup-form-div select {
    border: 1px solid #e1e5e8;
    margin-bottom: 20px;
    height: 30px;
    font-size: 18px;
    cursor: text
}

.signup-form-div label {
    font-size: 18px;
}

.profile-img-div {
    display: flex;
    justify-content: center
}