.coll-page-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
}

.coll-header-div {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.coll-count-text {
    color: #4d4b4b;
}

.coll-create-btn {
    width: 225px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid #4d4b4b;
    background-color: inherit;
    font-size: 16px;
    cursor: pointer;
}


/************************/
.coll-tiles-div {
    width: 48vw;
    height: 675px;
    grid-column: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow-y: auto;  
    overflow-x: hidden;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.coll-tile-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border: none;
    background-color: #FFFFFF;
    height: 275px;
    width: 225px;
    padding: 5px;
    cursor: pointer;
}

.coll-tile-btn:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 6px 9px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    opacity: .5;
}

.coll-img-grid-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    width: 100%;
    height: 100%;
    place-items: center;
}

.coll-tile-img {
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid #e6e8eb;
}

.coll-star-div {
    width: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px; 
    padding-bottom: 5px;
}

.coll-title-div {
    width: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}