.collection-page-container {
    width: 75vw;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 350px;
    padding: 30px;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px; */
}

.collection-page-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: #d3d3d3; */
    /* text-shadow: 2px 2px 5px rgba(80, 78, 78, 0.2); */
    color: #4d4b4b
}


.collection-page-collections-tile-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    background-color: #FFFFFF;
    height: 200px;
    width: 200px;
    padding: 5px 5px;
    cursor: pointer;
}

.collection-page-collections-tile-div:hover,
.create-custom-collection-div:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 6px 9px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.collection-page-collections-tile-div li {
    list-style: none;
}


.collection-page-collections-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 2px 2px;
    width: 100%;
    height: 100%;
}

.collection-page-grid-images img {
    border: 1px solid lightgray;
}

.collection-image {
    width: 75px;
    height: 75px;
}


.collection-page-custom-collections-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    gap: 30px;
}

.collection-page-custom-collections-div button {
    border: none;
    background-color: transparent;
}

.collections-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.collection-create-button{
    width: 225px;
    height: 30px;
    margin: 10px 0;
    border-radius: 5px;
    border: 2px solid #4d4b4b;
    background-color: inherit;
    font-size: 16px;
    cursor: pointer;
}

.no-collections-text {
    width: 200px;
    background-color: #9db882;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    padding: 10px 5px;
    text-align: center;
    position: absolute;
    font-weight: 300;
    font-size: 20px;
    font-family: 'Barlow', sans-serif;

}

.no-products-text-collections {
    background-color: #9db882;
    border: 1px solid #9db882;
    border-radius: 15px;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    padding: 10px 5px;
    color: #FFFFFF;
    cursor: pointer;
}
