.splashpage-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 25px;
}

.splashpage-heading-div {
    background-color: black;
    color: white;
    font-family: 'Barlow', sans-serif;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    z-index: 2;
}

/* 
.left-img-div {
    width: 50vw;
}

.left-img-div img {
    width: 50vw;
    object-fit: cover;
    border: 1px solid blue
} */

.grid-imgs-div {
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.grid-imgs-div img {
    width: 25vw;
    object-fit: cover;
}

.bottom-imgs-div {
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.bottom-imgs-div img {
    width: 25vw;
    object-fit: cover;
}