.profile-dropdown {
  position: absolute;
  top: 50px;
}

.profile-dropdown li {
  padding: 2px 5px;
  border: 1px solid #000000;
  color: #000000;
  text-align: center;
  background-color: #FFFFFF;
}


.profile-dropdown li:hover {
  padding: 2px 5px;
  border: 1px solid #000000;
  text-align: center;
  font-weight: 600;
  background-color: #D6E3C2;
}


.nav-container {
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
}

.nav-left {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-right {
  display: flex;
  list-style: none;
}

.nav-right li {
  width: 100px;
  display: flex;
  justify-content: flex-end;
}

.add-product-button-icon button {
  border: 1px solid black;
  border-radius:25px;
}

.add-product-button-icon button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 0.1s;
  /* border: 1px solid black;
  border-radius:25px; */
}

/* ********* */
.login-button-icon:hover {
  cursor: pointer;
}

.user-profile-icon-button:hover {
  cursor: pointer;
}

.explore-dropdown {
  border: 1px solid #000000;
  position: absolute;
  top: 50px;
}

.explore-dropdown li{
  padding: 2px 5px;
  text-align: center;
  background-color: #FFFFFF;
}
