.collection-page-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
}

.collection-page-h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #4D4B4B
}

.collection-page-premade-collections-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    gap: 30px;
}

.collection-page-premade-collections-div button {
    border: none;
    background-color: transparent;
}

.collection-page-collections-tile-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 5px 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 15px;
    background-color: #FFFFFF;
    height: 275px;
    width: 275px;
}

.collection-page-collections-tile-div:hover, .create-custom-collection-div:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 6px 9px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.collection-page-collections-tile-div li {
    list-style: none;
}

.collection-page-h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    width: 250px;
    margin-bottom: 5px;
}

.collection-page-collections-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px auto;
    width: 205px;
    height: 205px;
}

.collection-page-grid-images img {
    border:1px solid lightgray;
}

/* .collection-page-grid-images {

} */

.collection-page-custom-collections-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    gap: 30px;
}

.collection-page-custom-collections-div button {
    border: none;
    background-color: transparent;
}

.create-custom-collection-div {
    height: 275px;
    width: 275px;
    background-color: #EFEFEF;
    padding: 5px 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-custom-collection-div:button {
    cursor: pointer;
    height: 275px;
    width: 275px;
    border: none;
    font-size: 20px;
}
