.search-bar-wrapper {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 51px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 500;
}

.search-bar-div {
    border: 3px solid black;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 50px;
    margin-left: 25%;
    margin-top: 25px;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    font-size: 2rem;
    padding-left: 25px;
    position: relative;
}

.search-button {
    position: absolute;
    right: 25.5%;
    top: 50%;
    transform: translateY(-50%);
    border: 3px solid black;
    border-radius: 180%;
    background-color: #9db782;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.search-dropdown {
    width: 100vw;
    position: absolute;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.7);
}

.search-dropdown-row-button {
    background-color: rgba(0, 0, 0, 0.7);
    border-left: none;
    border-right: none;
}

.search-dropdown-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 120px;
    padding: 10px 0;
    cursor: pointer;
}

.search-dropdown-row-button:hover {
    background-color: #000000;
}

.search-result-img {
    width: 100px;
    height: 100px;
}

.search-result-name {
    color: white;
    width: 500px;
    text-wrap: wrap;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;

}
