.explore-wrapper {
    margin-bottom: 50px
}

.explore-wrapper h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    color: #4d4b4b
}
