.user-products-wrapper {
    display: flex;
    flex-direction: column;
}

.user-products-h1 {
    display: flex;
    justify-content: center;
}

.user-products-div {
    width: 1000px;
    height: 800px;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.user-products-product-tile{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 15px;
    display: flex;
    background-color: #FFFFFF;
    height: 200px;
    width: 350px;
    padding: 5px 5px;
    cursor: pointer;

}

.user-products-product-tile li {
    list-style: none;
}

.user-products-img {
    width:'100px';
    height:'100px';
}

.user-products-info-div {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-products-management-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

.user-products-management-buttons button {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}
